@media screen and (max-width: 576px) {
  .marque_container {
    display: none;
  }

  .header_wrapper .logo h5 {
    display: none;
  }

  .header_wrapper .logo img {
    height: auto;
    width: 50px;
  }
  .navbar {
    display: none;
  }
  .header_wrapper .nav_button {
    display: none;
  }
  .hamburgericon {
    display: block;
  }
  .hamburgericon i {
    font-size: 30px;
  }
  .header_wrapper {
    border: 1px solid orange;
    padding: 15px 11px;
    margin: -20px 0;
    width: 100%;
}
.hero_wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0 15px;
    align-items: center;
}
.hero_text h1 {
    font-weight: bold;
    font-size: 2rem;
    font-family: "Quicksand", serif;
    margin-bottom: 24px;
    color: #111111;
}
.hero_text p {
    color: #111111;
    font-size: 1rem;
    font-family: "Quicksand", serif;
    margin-bottom: 24px;
}
.hero_text{
    order: 2;
    text-align: center;
    margin-top: 30px;
}
.hero_image img{
    width: 100%;
}
  #curriculum h1 {
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-size: 1.7rem;
    font-family: "Quicksand", serif;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  #curriculum .curriculum_wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 28px;
    padding: 0 17px;
    margin-bottom: 80px;
  }
  .curriculum_arrow{
    display: none;
  }
  #ourStory h2 {
    color: #000000;
    font-size: 1.7rem;
    text-align: center;
    font-weight: bold;
    font-family: "Quicksand", serif;
    margin-bottom: 20px;
}
.large_story{
    display: none;
}
#ourStory .story_wrapper {
    display: flex;
    padding: 0 16px;
    justify-content: space-between;
}
.small_card_wrapper .small_date {
    color: white;
    padding: 8px 18px;
    border-radius: 47px;
    font-size: 0.6rem;
    position: absolute;
    transform: translateY(-49px);
    font-weight: 400;
    font-family: "Raleway", serif;
}
.small_card_wrapper h3 {
    color: #000000;
    font-size: 0.6rem;
    line-height: 1rem;
    font-weight: bold;
    padding-bottom: 15px;
    font-family: "Quicksand", serif;
}
.hero_image {
    display: flex;
    justify-content: flex-end;
    margin-top: 28px;
}
.card_wrapper h3 {
    color: #202020;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: "Quicksand", serif;
    margin-bottom: 33px;
}
.card_wrapper p {
    color: #808080;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.8rem;
    font-family: "Raleway", serif;
    margin-bottom: 33px;
}
.card_wrapper a {
    display: inline-block;
    color: #64c8ff;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: "Quicksand", serif;
    margin-bottom: 33px;
}
.small_story_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
#ourStory .story_wrapper img {
    width: 100%;
    border-top-left-radius: 16px;
    height: auto;
    overflow: hidden;
    border-top-right-radius: 16px;
    margin-bottom: 30px;
}
.story_button button {
    font-family: "Quicksand", serif;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 8px 50px;
    background-color: black;
    border-radius: 12px;
    border: transparent;
    cursor: pointer;
    transition: all linear 0.3s;
}
.footer_content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 90px 15px;
}
.footer-links{
    width: 100%;
    margin-top: 32px;
}
}

@media screen and (min-width: 577px) {
  .hamburgericon {
    display: none;
  }
}
