@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: "Quicksand", serif; */
/* font-family: "Raleway", serif; */
/*Common Styling Start*/
a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

/*Common Styling End*/
/*Nav Section Start*/
.marque_container {
  overflow: hidden;
  padding: 10px 10px;
  position: relative;
  font-family: "Quicksand", serif;
  font-weight: bold;
}

header {
  margin-top: 20px;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_wrapper .logo {
  display: flex;
  align-items: center;
  column-gap: 11px;
}

.header_wrapper .logo h5 {
  color: #111111;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Quicksand", serif;
}

.navbar {}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 32px;
}

.navbar ul li a {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Quicksand", serif;
}

.navbar ul li:nth-child(1) a {
  color: #fea301;
}

.navbar ul li:nth-child(2) a {
  color: #01acfd;
}

.navbar ul li:nth-child(3) a {
  color: #05d4df;
}

.navbar ul li:nth-child(4) a {
  color: #5d58ef;
}

.header_wrapper .nav_button {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "Quicksand", serif;
  padding: 10px 60px;
  background-color: #fea301;
  border-radius: 12px;
  border: transparent;
  cursor: pointer;
  transition: all linear 0.3s;
}

.header_wrapper .nav_button:hover {
  background-color: #5d58ef;
}

/*Nav Section End*/
/*Banner Styling Start*/
#banner {
  margin-top: 20px;
}

.hero_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.hero_text h1 {
  font-weight: bold;
  font-size: 3.3rem;
  font-family: "Quicksand", serif;
  margin-bottom: 24px;
  color: #111111;
}

.hero_text h1 .first_span {
  color: #fea301;
}

.hero_text h1 .second_span {
  color: #01acfd;
}

.hero_text p {
  color: #111111;
  font-size: 1.1rem;
  font-family: "Quicksand", serif;
  margin-bottom: 24px;
}

.hero_text .hero_button {
  color: white;
  font-size: 1.1rem;
  font-family: "Quicksand", serif;
  background-color: #111111;
  padding: 10px 47px;
  border: transparent;
  border-radius: 12px;
  font-weight: bold;
  transition: all linear 0.3s;
  cursor: pointer;
}

.hero_text .hero_button:hover {
  background-color: #01acfd;
}

.hero_image {
  display: flex;
  justify-content: flex-end;
}

/*Banner Styling End*/

/*Curriculum Styling Start*/
#curriculum {
  background-image: url('https://zahidhasanratan.github.io/KIDS-EDUCATION/assets/bg.png');
  background-repeat: no-repeat;
}

#curriculum h1 {
  text-align: center;
  color: #000000;
  font-weight: bold;
  font-size: 2.7rem;
  font-family: "Quicksand", serif;
  margin-top: 60px;
  margin-bottom: 80px;
}

#curriculum .curriculum_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
  margin-bottom: 80px;
}

.curriculum_card {
  border: 1.5px solid #DEF5FF;
  border-radius: 19px;
  background: linear-gradient(to bottom, #def5ff, #ffffff);
}

.curriculum_cardtwo {
  border: 1.5px solid #FFF4DC;
  border-radius: 19px;
  background: linear-gradient(to bottom, #FFF4DC, #ffffff);

}

.curriculum_cardthree {
  border: 1.5px solid #F2E8FF;
  border-radius: 19px;
  background: linear-gradient(to bottom, #F2E8FF, #ffffff);

}

.card_wrapper {
  text-align: center;
  padding: 0 20px;
}

.card_wrapper img {
  padding-top: 52px;
  padding-bottom: 32px;
}

.card_wrapper h3 {
  color: #202020;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Quicksand", serif;
  margin-bottom: 33px;
}

.card_wrapper p {
  color: #808080;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.8rem;
  font-family: "Raleway", serif;
  margin-bottom: 33px;
}

.card_wrapper a {
  display: inline-block;
  color: #64c8ff;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Quicksand", serif;
  margin-bottom: 33px;
}

.curriculum_cardtwo a {
  display: inline-block;
  color: #FBBA56;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Quicksand", serif;
  margin-bottom: 33px;
}

.curriculum_cardthree a {
  display: inline-block;
  color: #8700FF;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Quicksand", serif;
  margin-bottom: 33px;
}

.curriculum_arrow {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 60px;
}

.curriculum_arrow button {
  background-color: #FEA301;
  border-radius: 50%;
  border: transparent;
  height: 60px;
  width: 60px;
  color: white;
  cursor: pointer;
  transition: all linear 0.3s;
}

.curriculum_arrow button:hover {
  color: black;
  background-color: #01acfd;
}

/*Curriculum Styling End*/


/*Our Story Start*/
#ourStory {
  background-image: url('https://zahidhasanratan.github.io/KIDS-EDUCATION/assets/bg.png');
  background-repeat: no-repeat;

}

#ourStory h3 {}

.gradient_wrapper {
  background: linear-gradient(to top, #ffdc8f, #ffffff);

}

#ourStory h2 {
  color: #000000;
  font-size: 2.6rem;
  text-align: center;
  font-weight: bold;
  font-family: "Quicksand", serif;
  margin-bottom: 80px;
}

#ourStory .story_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}



#ourStory .story_wrapper .large_card {
  background-color: white;
  border-radius: 16px;
}

#ourStory .story_wrapper img {
  width: 100%;
  border-top-left-radius: 16px;
  height: auto;
  overflow: hidden;
  border-top-right-radius: 16px;
  margin-bottom: 57px;
}

.story_content {
  padding: 0 30px;
}

.large_card h3 {
  color: #000000;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Quicksand", serif;
  margin-bottom: 45px;
}

.large_card p {
  color: #666666;
  line-height: 1.6rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Raleway", serif;
  padding-bottom: 34px;
}

.large_card .large_date {
  background-color: #3CD8E8;
  color: white;
  padding: 14px 28px;
  border-radius: 47px;
  font-size: 1rem;
  position: absolute;
  transform: translateY(-85px);
  font-weight: 500;
  font-family: "Raleway", serif;
}


.small_story_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

}

.small_card_wrapper {
  background-color: white;
  border: transparent;
  border-radius: 16px;
}

.small_card_wrapper img {
  width: 100%;
  height: auto;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-bottom: 38px;
}

.small_card_wrapper h3 {
  color: #000000;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: bold;
  font-family: "Quicksand", serif;
}

.small_card_wrapper .small_date {
  color: white;
  padding: 10px 20px;
  border-radius: 47px;
  font-size: 1rem;
  position: absolute;
  transform: translateY(-80px);
  font-weight: 400;
  font-family: "Raleway", serif;
}


.small_card_wrapper:nth-child(1) .small_date {
  background-color: #3CD8E8;
}

.small_card_wrapper:nth-child(2) .small_date {
  background-color: #95B226;
}

.small_card_wrapper:nth-child(3) .small_date {
  background-color: #5D58F0;
}

.small_card_wrapper:nth-child(4) .small_date {
  background-color: #95B226;
}

.story_content_small {
  padding: 0 20px;
}

.story_button {
  padding: 60px 0;
  text-align: center;
}

.story_button button {
  font-family: "Quicksand", serif;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px 60px;
  background-color: black;
  border-radius: 12px;
  border: transparent;
  cursor: pointer;
  transition: all linear 0.3s;
}

.story_button button:hover {
  background-color: #01ACFD;
}

/*Our Story End*/


/*Footer Start*/
#footer {
  background-color: #01acfd;
}

.footer_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  padding: 120px 0;
}

.footer_left_wrapper .footer-logo {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-bottom: 35px;
}

.footer-logo-title h3 {
  color: white;
  font-family: "Quicksand", serif;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2rem;
}

.footer_left_wrapper p {
  color: white;
  font-family: "Quicksand", serif;
  font-size: 1rem;
}

.footer-links {
  margin: 0 auto;
}

.footer-links h3 {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Quicksand", serif;
  margin-bottom: 32px;
}

.footer-links ul li {
  margin-bottom: 20px;
}

.footer-links ul li a {
  color: white;
  font-size: 1.2rem;
  font-family: "Quicksand", serif;
}

.footer-social {}

.footer-social h3 {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Quicksand", serif;
  margin-bottom: 32px;
}

.social-image {
  display: flex;
  column-gap: 11px;
  justify-content: flex-start;
}

/*Footer End*/
/*Common Styling Start*/

/*Common Styling End*/
/*Common Styling Start*/

/*Common Styling End*/
/*Common Styling Start*/

/*Common Styling End*/